/////////////////////////////////////////
//PRIMARY COLORS
$color-primary-soft-red: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);
$color-primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
$color-primary-dark: hsl(355, 03%, 04%);
$color-primary-dark-blue: hsl(198, 62%, 26%);
$color-primary-blue: hsl(193, 90%, 70%);
$color-primary-dark-moderate-cyan: hsl(166, 53%, 69%);

/////////////////////////////////////////
//SECONDARY COLORS
$color-neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$color-neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);