/////////////////////////////////////////
//PRIMARY COLORS
$color-primary-soft-red: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);
$color-primary-dark-desaturated-cyan: hsl(167, 40%, 24%);