/////////////////////////////////////////////////
//SHOWCASE SECTION
  .showcase {
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;       

  &__heading {
    font-size: $fs-larger;
    font-family: $font-display;
    color: $color-neutral-white;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    margin-bottom: 3rem;
  }
}

  /////////////////////////////////////////////////
//GALLERY
.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15rem;

    img {
    height: 100%;
  }
}

/////////////////////////////////////////////////
// MEDIA QUERIES
.showcase {
    @media only screen and (max-width: $bp-large) {
      &__heading {
        font-size: $fs-large-1;
          margin-bottom: 3rem;
      }
  }

  @media only screen and (max-width: $bp-medium-1) {
    &__heading {
      font-size: $fs-xlarge;
      margin-bottom: 5rem;
    }
  }

  @media only screen and (max-width: $bp-smaller) {
    &__heading {
      margin: 5rem 0 4.5rem 0;
    }
  }
}

// GALLERY
.gallery {
  @media only screen and (max-width: $bp-smaller) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
}