/////////////////////////////////////////////////
//FOOTER
.footer {
  background-color: $color-primary-dark-moderate-cyan;
  padding: 5rem; 
  text-align: center;

  &__item {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 2rem;
  }

  &__logo {
    path {
      fill: $color-primary-dark-desaturated-cyan;
    }
  }

  &__link {
    color: $color-primary-dark-desaturated-cyan;
    font-size: $fs-xmedium;
    margin: 2rem;
    text-decoration: none;

    &:hover {}
  }
  
}