///////////////////////////////////////////
//LOGO

.logo {
  height: 3.2rem;
  margin-right: auto;
}

///////////////////////////////////////////
//NAVIGATION
.navbar {
  display: flex;

  &__item, &__link {
    text-decoration: none;
    list-style: none;
    font-size: $fs-medium;
    color: $color-neutral-white;
    margin: 2rem;
  }

  &__link--btn {
    text-transform: uppercase;
    font-weight: 900;
    padding: 1.5rem 2.5rem;
    background: $color-neutral-white;
    color: $color-primary-dark;
    border: none;
    border-radius: 5rem;
    cursor: pointer;

    &:hover {
     
    }
  }
}