////////////////////////////////////////////
//HEADER
.header {
  height: 100vh;
  background: url(../images/desktop/image-header.jpg) no-repeat center center/cover;
  padding-top: 4rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

///////////////////////////////////////////
//LOGO

.logo {
  height: 3.2rem;
  margin-right: auto;
}

///////////////////////////////////////////
//NAVIGATION
.navbar {
  display: flex;

  &__item, &__link {
    text-decoration: none;
    list-style: none;
    font-size: $fs-medium;
    color: $color-neutral-white;
    margin: 2rem;
  }

  &__link--btn {
    text-transform: uppercase;
    font-weight: 900;
    padding: 1.5rem 2.5rem;
    background: $color-neutral-white;
    color: $color-primary-dark;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: $color-primary-blue;
      color: $color-neutral-white;
    }
  }
}

/////////////////////////////////////////////////
//HAMBURGER
.hamburger {
  background: none;
  border-radius: 0;
  cursor: pointer;

  &__line {
    background: $color-neutral-white;
    display: block;
    height: 0.3rem;
    margin-bottom: 0.6rem;
  }
}

/////////////////////////////////////////////////
// MEDIA QUERIES
@media only screen and (max-width: $bp-largest) {
  .logo {
    margin-left: 2.5rem;
  }
}

.navbar {
  @media screen and (max-width: $bp-smaller) {
    background: $color-neutral-white;
    font-size: $fs-large;
    display: none;
    position: absolute;
    padding: 4rem;
    margin: 3rem 0.5rem;
    line-height: 2.5;
    text-align: center;
    top: 50px;
    width: 90%;

    &::before {
      content: "";
      background: $color-neutral-white;
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: -2rem;
      right: 0;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
  }

  @media only screen and (max-width: $bp-largest) {
    &__item {
      margin: 1.5rem;
    }
  }

  @media screen and (max-width: $bp-smaller){
    &__link, &__link--btn {
      color: $color-primary-dark;
      font-size: $fs-large;
    }

    &__link--btn {
      background: $color-primary-yellow;
    }
  }
}

// HAMBURGER
.hamburger {
  @media screen and (min-width: $bp-smallest) {
    display: none;
  }

  @media screen and (max-width: $bp-smaller) {}
}
