/////////////////////////////////////////////////
//STORY
.story {
  &__single {
      display: flex;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
  }

  &__single-sub {
      display: flex;
  }

  &__item {
      color: $color-primary-dark-blue;
      position: relative
  }

  &__header {
      font-family: $font-display;
      font-size: $fs-xxlarge;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 3rem;
  }

  &__content {
      width: 50%;
      padding: 12rem 8rem;
  }
}