/////////////////////////////////////////////////
//STORY
.story {
  &__single {
      display: flex;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
  }

  &__single-sub {
      display: flex;
  }

  &__item {
      color: $color-primary-dark-blue;
      position: relative
  }

  &__header {
      font-family: $font-display;
      font-size: $fs-xxlarge;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 3rem;
  }

  &__content {
      width: 50%;
      padding: 12rem 8rem;
  }

  &__details {
      font-size: $fs-medium;
      margin: auto;
      max-width: 45%;
      text-align: center;
      position: absolute;
      top: 65%;
      left: 0;
      right: 0;
  }

  &__picture {
    
    img {
        height: 100%;
    }
  }

  &__text {
    font-size: $fs-xxmedium;

    &:not(:last-child) {
        
    }
  }
}