/////////////////////////////////////////////////
//STORY
.story {
  &__single {
      display: flex;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
  }

  &__single-sub {
      display: flex;
  }

  &__item {
      color: $color-primary-dark-blue;
      position: relative
  }

  &__header {}
}