/////////////////////////////////////////////////
//TESTIMONIALS
.testimonials {
    background: $color-neutral-white;
    text-align: center;

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        width: 25%;
    }

    &__title {}
}