/////////////////////////////////////////////////
//TESTIMONIALS
.testimonials {
    background: $color-neutral-white;
    text-align: center;

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        width: 25%;
    }

    &__title {
        font-family: $font-display;
        font-size: $fs-xxmedium;
        font-weight: 900;
        color: $color-neutral-grayish-blue;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin: 15rem 0 8rem 0;
    }

    &__photo {
        display: block;
        margin: auto;
        height: 7rem;
    }
}